input
input-staging
input*
output
output-staging
output*
archive
archive-staging
archive*
checkpoint
checkpoint-staging
checkpoint*
*.swp
node_modules
yarn.lock
tmp
dist
estuary-archive
local-state
__pycache__
